streamlit==1.31.0
faster-whisper==0.10.0
ctranslate2==3.20.0
deep-translator==1.11.4
yt-dlp>=2024.12.6
moviepy==1.0.3
pytube==15.0.0
numpy>=1.24.3,<2.0.0
torch>=2.5.1
torchvision>=0.20.1
torchaudio>=2.5.1
